$fontSize: 20px
$flexDisplay: flex
$flexWrap: wrap
$backgroundColor: rgba(226, 224, 234, 0.5)
$textColor: darkBlue

// Navigation bar
.navBar
  position: relative
  border-right: 1px solid black
  width: 20%
  height: 100%
  overflow: hidden

  .profileImg
    display: $flexDisplay
    flex-wrap: $flexWrap
    justify-content: center

    img
      margin: 20px 0 
      height: 170px
      border-radius: 50%
      z-index: 0

  ul
    display: $flexDisplay
    flex-wrap: $flexWrap
    flex-direction: column
    list-style-type: none
    padding: 0

    li
      display: $flexDisplay
      flex-wrap: $flexWrap
      align-items: center
      justify-content: center

      span
        display: $flexDisplay
        align-items: center
        width: 20px
        height: 40px
        transform: scale(1.2)
        justify-content: center
        margin-right: 30px

      

      a
        box-sizing: border-box
        display: $flexDisplay
        align-content: center
        width: 100px
        height: 50px
        display: inline-block
        font-size: $fontSize
        text-decoration: none
        margin: 0.5vh 0 0.5vh 0
        opacity: 0.5
        font-weight: bold
        background: transparent
        border-radius: 5px

        &:hover, &.active
          display: $flexDisplay
          align-items: center
          justify-content: center
          opacity: 1
          color: $textColor
          border-left: 3px solid $textColor
          background: $backgroundColor
          transform: scaleX(20px)

  .socialMediaLogo
    position: absolute
    bottom: 0
    width: 100%
    display: grid
    grid-template-columns: repeat(2, auto)
    justify-content: center
    align-items: center

    span
      display: $flexDisplay
      align-items: center
      justify-content: center
      width: 5vw
      height: 12vh  

      a:hover
          transform: scale(1.5)
          
      img
        height: 40px
        overflow: hidden
        z-index: 0
