:root { 
  --maincolor: #fff;
}

* {
  font-family: 'Poppins', sans-serif;
  color: #000;
}

.App {
  background: var(--maincolor);
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.mainContent {
  flex: 1;
}