:root { 
  --maincolor: #fff;
}

* {
  font-family: 'Poppins', sans-serif;
  color: #000;
}

.App {
  background: var(--maincolor);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
}